
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(Blog.css);
@import url(info.css);
@import url(animacion.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
        font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    color: aliceblue;

    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}
.Contenedor{
     width: 98%;
     margin: auto;
}
h1{
    float: left;
}
header .Contenedor{
    display: table;
}
section{
    width: 100%;
    margin-bottom: 20px;
}
#Bienvenidos{
    text-align: center;
}
footer.Contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Copy{
    font-size: 20px;
}
.Sociales{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.Sociales a{
    color: blueviolet;
    text-decoration: none;

}


@media (min-width:1024px){
    .Contenedor{
        width: 1000px;
    }
}
